doctype html
html
	head
		meta(charset='UTF-8')
		title Kathy's Page
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.nav
			a(href='/') Home     |

			a(href='/blog')      Blog     |

			a(href='/portfolio')      Portfolio     
				
		.container
			block body