doctype html
html
	head
		meta(charset='UTF-8')
		title Kathy's Page
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav.navbar.navbar-default
			.container
				.navbar-header
					a.navbar-brand(href='/') Home
					a.navbar-brand(href='/blog') Blog
					a.navbar-brand(href='/portfolio') Portfolio
				
		.container
			block body