extends ../layout

block body
	h1 New Blog Post
	include errors
	form(action='/blog', method='post')
		.form-group
			label(for='title') Title
			input.form-control(name='title', value=post.title, autofocus)
		.form-group
			label(for='body') Body
			textarea.form-control(name='body')= post.body
		.form-group
			label(for='author') Author
			input.form-control(name='author', value=post.author)
		.form-group
			label(for='slug') Slug
			input.form-control(name='slug', value=post.slug)
		.form-group
			input.btn.btn-primary.btn-sm(type='submit', value='Post')