extends ../layout

block body
	if post
		.row
			.col-xs-7
				h1 #{post.title} #[small.secondary-text= date(post.createdAt)]
				h4 By #{post.author}
				p= post.body
				
	else
		h2 Not Found
		p That blog post does not exist.